/******** VARIABLES  ***************************/
:root {
  --primary-color: #3d8ef3;
  --secondary-color: #efefef;
  --font-color-primary: #333;
  --font-color-secondary: #555;
  --light-bg: #f9f9f9;
  --green-color: #41ce13;
  --disabled-color: #cccccc;
  --light-gray: #f5f5f5;
}


/******** GLOBALS *******************************/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--font-color-primary);
  letter-spacing: .5px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  color: inherit;
}
button, a, select {
  cursor: pointer;
}
input, select, textarea {
  border: 1px solid var(--secondary-color);
  border-radius: 2px;
  padding: 10px 5px;
  resize: none;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table tr:nth-child(even) {
  background: var(--light-gray);
}
table td {
  padding: 10px 5px;
}


/******* GENERICS ****************************/
.small-pad {
  padding: 15px 10px;
}
.small-font {
  font-size: 12px;
}
.margin-5px {
  margin: 5px;
}
.bold {
  font-weight: bold;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
}
.vertical-align-center {
  vertical-align: middle;
  align-items: center;
}
.button-group {
  display: flex;
  justify-content: space-between;
}
button {
  color: #555;
  padding: 10px;
  background: var(--secondary-color);
  border: 1px solid #dadadc;
  border-radius: 2px;
}
button.primary {
  background: var(--primary-color);
  border: 1px solid transparent;
  color: #ffffff;
}
.btn-lg {
  min-width: 150px;
}
.primary-font-color {
  color: var(--primary-color);
}
.border-bottom {
  border-bottom: 1px solid var(--secondary-color);
}
.border-bottom.selected {
  border-color: var(--primary-color);
}
.no-justify {
  justify-content: normal;
}
.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.form-group > * {
  flex: 1 1 auto;
  width: 70%;
}
.form-group label {
  width: 30%;
  font-weight: bold;
}
.hidden {
  display: none;
}
.tab-header {
  display: flex;
  justify-content: space-evenly;
  margin: 5px 10px;
}
.tab-header > div {
  flex: 1 1 auto;
  text-align: center;
  padding: 10px;
}
.pointer {
  cursor: pointer;
}
.flex-me {
  display: flex;
}
.flex-me > div {
  flex: 1 1 auto;
}
.error {
  border: 1px solid red;
  outline: none !important;
}
.btn-disable {
  background: var(--disabled-color) !important;
  cursor: not-allowed;
}






.main-app {
  display: flex;
  min-height: 100vh;
}
.menu {
  display: flex;
  flex-direction: column;
  background: var(--primary-color);
  color: #fff;
  flex: 0 0 20%;
  min-width: 180px;
  max-width: 250px;
}
.menu > .menu-item {
  padding: 15px 10px;
  border-bottom: 1px solid #e8e8e8;
}
.app {
  flex: 1 1 auto;
}
.invoice-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.invoice-item > a {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  align-items: center;
}
.logo {
  padding-bottom: 7vh !important;
  /* border: none !important; */
}
.invoice-item .button-group {
  margin-left: 20px;
}
.save-tab {
  background: var(--light-bg);
  flex: 0 0 250px !important;
  padding-bottom: 30px;
}
.add-btn {
  width: calc(100% - 20px);
  margin: 10px;
}
.item-description {
  flex: 1 1 auto;
  margin-right: 10px;
}
.item-currency {
  min-width: 50px;
  width: 10%;
  background-color: var(--secondary-color);
}
.item-amount {
  min-width: 110px;
  width: 20%;
}
.item-quantity {
  width: 8%;
}
.save-tab-vertical {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
}
.table-link-container {
  justify-content: space-between;
}
.client-status {
  text-transform: capitalize;
  color: var(--green-color);
}
